<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../res/css/member/diary/analysis/feeling.css">
</head>
<body>
    <div class="feeling">
        <header class="feeling-header">
            <h1>기분</h1>
            <div class="back"><a href="../main.html">뒤로가기</a></div>

        </header>

        <div class="feeling-main">
                <div><img class="happiness" src="../../../../../img/happiness/happy.png" alt="행복"></div>
                <div><img class="excitement" src="../../../../../img/excitement/excited.png" alt="들뜸"></div>
                <div><img class="touched" src="../../../../../img/touched/touched.png" alt="감동"></div>

                <div><img class="angry" src="../../../../../img/angry/angry.png" alt="화남"></div>
                <div><img class="anxiety" src="../../../../../img/anxiety/anxiety.png" alt="불안"></div>
                <div><img class="disappointed" src="../../../../../img/disappointed/disappointed.png" alt="실망"></div>

                <div><img class="sadness" src="../../../../../img/sadness/saddness.png" alt="슬픔"></div>
                <div><img class="calm" src="../../../../../img/calm/calm.png" alt="평온"></div>
                <div><img class="awkward" src="../../../../../img/awkward/awkward.png" alt="난감"></div>
        </div>

        <div class="checking-feeling-graph"><a href="./feeling-graph.html">기분 통계 확인하기</a></div>
    </div>

</body>
</html>