<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../res/css/member/diary/analysis/feeling-graph.css">
</head>
<body>
    
        <header>
            <h1 class="feeling-graph-title">기분 통계</h1>
            <div class="back"><a href="./feeling.html">뒤로가기</a></div>
        </header>


        <div class="feeling-graph-main">
            <div class ="graph"></div>
            
            <div class="analysis-result">
                <p class="analysis-result-font">
                    이번달은 피곤해요가 기뻐요보다 33% 더 많이 차지했어요<br>
                    휴식이 필요해요
                </p>
            </div>
        </div>

        <div></div>
</body>
<script src="../../../../../res/js/feeling-graph.js"></script>
</html>