<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="honesty">
        <header>
            <h1>솔직함</h1>
            <div class="back"><a href="../main.html">뒤로가기</a></div>
        </header>


        <div class="honesty-overall">
            <div class="date">1월 1일</div>
            <div class="title">어쩌구저쩌구라네</div>
            <div class="honesty-range"><input type="range"></div>
        </div>

        <div class="honesty-avg">
            <h1>평균 15%</h1>
            <input type="range">
        </div>
    </div>
</body>
</html>